.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(142, 67, 67);
  width: 100%;
  color: white;
  border-radius: 4px;
  padding: 24px 48px;
  gap: 15px;
  max-width: 350px;
}

.user {
  width: 100%;
  outline: double;
  padding: 7px;
}

.password {
  width: 100%;
  outline: double;
  padding: 7px;
}

@media screen and (min-width: 900px) {
  .login {
    background-color: #e883b24f;
    color: black;
  }
}
