* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-height: 80px;
  --footer-height: 50px;
}

body {
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  background-color: #f7f7f7;
}

.header {
  background: #a04f4fb8;
  width: 100%;
  height: var(--header-height);
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 65px;
}

.page-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 26px 24px;
  gap: 15px;
}

.footer {
  width: 100%;
  height: var(--footer-height);
  background-color: #a04f4fb8;
  padding: 0 24px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.button-56 {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-weight: 900;
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media screen and (min-width: 900px) {
  .header {
    background-color: #a359a39d;
  }

  .footer {
    background-color: #a359a39d;
  }

  .page-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    align-items: center;
    height: calc(100vh - var(--header-height) - var(--footer-height));
  }

  .button-56 {
    background-color: #a359a39d;
  }
}
